@import "tailwindcss";
@media print {

    body * {
      visibility: hidden;
    }
  
    #resume,
    #resume * {
      visibility: visible;
    }
  
    #resume {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  
    .print\:hidden {
      display: none !important;
    }
  }